@charset "UTF-8";

#box {
	display: grid;
	grid-template-columns: 230px auto;
	height : 500px;
	margin: 15px;
	
}


/* #addMemo{
 	background-color:red !important;
} */

#menubar {
	background-color: #BFA78A;
	display: flex;
	flex-direction: column;
	justify-content: space-between;;
}

#memoscreen {
	background-color: #f8d085;
}

#searchInput, #catName {
	margin: 10px 10px; 
	border-radius: 20px;
	border: 0px;
	width : 150px;
	height: 20px;
}

.searching form {
    display: flex;
    gap: 5px;
    align-items:center;
}

#catName {
	width : 200px;
}

#searchButton, #addCategory, #cancel, #addMemo,
#catNameEdit, #catDelete
{
	border-radius: 10px;
	border: 0px;
	cursor: pointer;
}

#searchButton {
	height: 25px;
	width: 40px;
}

.searching {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search {
	display: flex;
}

.category, .content {
	margin-left:20px;
}

#searchButton:hover, #addCategory:hover,
#cancel:hover , #addMemo:hover, #catNameEdit:hover, #catDelete:hover{
	background-color: #594327;
	color: white;
	transition: 0.4s
}


#curCategory {
	padding: 20px 30px;
	border-bottom: 2px solid #594327;
}

#curMemo {
	margin: 30px;
	height: 330px;
}

#addMemo,  #catNameEdit, #catDelete {
	margin-right: 15px;
	float: right;
	margin-bottom: 5px;
}

#catEdit {
	height: 60px;
}


#addCatDiv {
	/* position: relative;
	text-align: right;
	display: flex;
	justify-content: flex-end;;
	gap: 10px; */
	
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

/* #addCategory, #cancel {
	margin-right: 10px;
	position: relative;
	top: -20px;
} */

#addCategoryWrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #a99174; /* 구분선(optional) */
}

#inputWrapper {
	margin-bottom: 10px;
}
