@charset "UTF-8";

#box {
	display: grid;
	grid-template-columns: 230px auto;
	height : 500px;
	margin: 15px;
	
}

#menubar {
	background-color: #BFA78A;
}

#memoscreen {
	background-color: #f8d085;
}

#searchInput {
	margin: 10px 10px;
	border-radius: 20px;
	border: 0px;
	width : 150px;
	height: 20px;
}

.searching form {
    display: flex;
    gap: 5px;
    align-items:center;
}

#searchButton, #addCategory, #addMemo,
#catNameEdit, #catDelete
{
	border-radius: 10px;
	border: 0px;
	cursor: pointer;
}

#searchButton {
	height: 25px;
	width: 40px;
}

.searching {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search {
	display: flex;
}

.category, .content {
	margin-left:20px;
}

#searchButton:hover, #addCategory:hover,
#addMemo:hover, #catNameEdit:hover, #catDelete:hover {
	background-color: #594327;
	color: white;
	transition: 0.4s
}

#addCatDiv {
	text-align: right;
}

#catEdit {
	height: 60px;
}

#addMemo, #addCategory, #catNameEdit, #catDelete {
	margin-right: 15px;
	float: right;
	margin-bottom: 5px;
}

#curCategory {
	padding: 20px 30px;
	border-bottom: 2px solid #594327;
}

#curMemo {
	margin: 30px;
	height: 330px;
}